<!DOCTYPE html>
{% extends "acubook/base.html" %}
{% block body_block %}
{% load static %}
  <!-- Our Mission -->
  <div class="container">
    <div class="row padding">
      <div class="col-12 text-center">
        <div class="col-12 text-center">
          <h2 class="mission">Our Vision</h2>
          <hr class="about-hr">
          <p class="acutext">To cater to the reading needs of everyone in Ajayi Crowther University and the society in general.</p>
        </div>

      </div>
      <div class="col-12 text-center">
        <h2 class="mission">Our Mission</h2>
        <hr class="about-hr">
        <p class="acutext">Making books available and affordable for everyone to read.</p>
      </div>

      <div class="col-12 text-center">
        <h2 class="mission">What We Do</h2>
        <hr class="about-hr">
        <p class="acutext">ACU Bookstore is a unique book store that caters for the needs of Ajayi Crowther University and the surrounding oyo community.
          It is a one-stop shop where book lovers, those seeking enlightenment, and others looking for a ‘third-place’ can visit again and again. ACU Bookstore is owned by Ajayi Crowther University.
           We sell a wide range of books covering; Business, Science, Academics, Christian, Motivational and so much more.</p>
      </div>
    </div>
  </div>
{% endblock %}